

.page-container {
    flex-direction: row;        
    justify-content: center;    
    align-items: center;        
    height: 100%;        
    padding: 0 50px;            
    box-sizing: border-box;
    overflow-y: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.about-zone {
    display: flex;
    flex-direction: row;
}

.txt-zone {               
    max-width: 500px;        
    margin-left: 115px;
}

.image-container {
    display: flex; 
    flex-wrap: wrap;
    flex-direction: row;     
    align-items: center;     
    justify-content: center;   
    gap: 20px;
}

.container.about-page 

.Jets-photo, .Tree-photo {
    img {
        width: 300px;
    }
}

.me-photo, .nature-photo, .archery-photo {
    padding: 50px;
    img {
        width: 200px;
        height: 300px;
    }
}

.me-photo {
    margin-left: 200px;
}

/* MOBILE */
@media (max-width: 768px) {

    .nature-photo,
    .Jets-photo,
    .me-photo,
    .archery-photo,
    .Tree-photo {
        display: none !important;
    }

    .container.about-page {
        .text-zone {
            position: absolute;
            left: 5%;
            top: 40%;
            width: 90%;
            transform: translateY(-50%);
            
            h1 {
                font-size: 32px;
                white-space: normal;
            }

            p {
                font-size: 13px;
                line-height: 1.6;
            }
        }
    }
}