.nav-bar{
    background: #181818; 
    width: 60px;
    height: 100%;
    position: absolute;
    top: 0; 
    z-index: 3;
    min-height: 500px; 

    .logo{
        display: block;
        padding: 9px 0; 

        img {
            display: block; 
            margin: 8px auto; 
            width: 45px; 
            height: auto;

            &.sub-logo{
                width: 50px; 
            }
        }
    }

    ul {
        position: absolute; 
        bottom: 20px; 
        width: 100%;
        display: block; 
        padding: 0; 
        list-style: none; 
        text-align: center; 
        margin: 0; 

        li{
            a{
                padding: 7px 0; 
                display: block; 
                font-size: 15px; 
                line-height: 16px; 
                color: #4d4d4e;

                &:hover svg { 
                    color: #ffd700; 
                }
            }
        }
    }
}

nav{
    display: block;
    text-align: center;
    position: absolute;
    height: 210px; 
    top: 50%; 
    margin-top: -120px; 
    width: 100%; 

    a {
        font-size: 22px; 
        color: #4d4d4e; 
        display: block; 
        line-height: 51px; 
        height: 51px; 
        position: relative; 
        text-decoration: none; 

        i {
            transition: all 0.3s ease-out; 
        }

        &:hover{
            color: #ffd700; 

            svg{
                opacity: 0; 
            }

            &:after {
                opacity: 1;
            }
        }

        &:after{
            content: ''; 
            font-size: 9px;
            letter-spacing: 2px; 
            position: absolute; 
            bottom: 0; 
            display: block; 
            width: 100%; 
            text-align: center; 
            opacity: 0; 
            transition: all 0.3s ease-out; 
        }

        &:first-child{
            &::after{
                content: 'HOME'; 
            }
        }
    }
    a.about-link { 
        &:after {
            content: 'ABOUT'; 
        }
    }

    a.portfolio-link { 
        &:after {
            content: 'PORTFOLIO'; 
        }
    }

    a.active {
        svg {
            color: #ffd700; 
        }
    }
}


/* MOBILE */
@media (max-width: 768px) {
  .mobile-nav-toggle {
    display: block;
    position: fixed;
    top: 1.5rem;
    left: 1.5rem;
    z-index: 1001;
    font-size: 2.4rem;
    color: #ffd700;
    cursor: pointer;
    background: none;
    border: none;
  }

  .nav-bar {
    position: fixed;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100vh;
    background: #181818;
    transition: left 0.3s ease;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-bar.mobile-show {
    left: 0;
  }

  nav {
    position: static;
    margin-top: 2rem;
  }

  .nav-bar ul {
    position: static;
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0;
    margin-top: 3rem;
    width: 100%;

    li {
      list-style: none;

      a {
        color: #4d4d4e !important;
        font-size: 32px !important;
        padding: 10px;
        
        svg {
          color: #4d4d4e;
        }

        &:hover svg { 
          color: #ffd700; 
        }
      }
    }
  }
}