
html{
  font-size: 62.5%;
}

@media (max-width: 768px) {
  html {
    font-size: 56.25%;
  }
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', sans-serif;
  color: #444;
  background: #022c43;
  overflow-x: hidden; 
  overflow-y: auto; 
  display: block; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


